

.btn-layout{
  display:block;
  margin-top: 30px;

}
.exp-btn1{
  float: right;
  width: 100px;
  height: 40px;
  border-radius: 15px;
  background: #6a6cca;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.exp-btn1:hover {
  background: #333333;
}

.exp-btn2{
  float: right;
  margin-right: 5px;

  width: 100px;
  height: 40px;
  border-radius: 15px;
  background: #6a6cca;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.exp-btn2:hover {
  background: #333333;
}

.file-exp{
  height: 45px;
  background: linear-gradient(to bottom, #6a6cca 5%, #6a6cca 100%);
  display: flex;
  align-items: center;
}

.title{
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  color: #ffffff;
  margin-right: 10px;
  margin-left: 5px;

}

.icons{
   height: 20px;
   cursor: pointer;
   margin-left : 5px;
}



body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49,49,49,0.8);
}
.modal-content {
  position: absolute;
  display:block;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
}



.modal-h2 {
  color: #6a6cca;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.modal-input{
  display: block;
  width: 100%;
  font-size: medium;
  padding: 10px 15px;
  background-color: #F8F8F8;
  border-radius: 8px;
  transition: 0.4s;

}
.modal-input:focus{
  border-color: #6a6cca;
}

.modal{
  z-index: 1;
}

.active {
  font-size: large;
  font-weight: bold;
  color: white;
  
}

.filetree{
  overflow-x: auto;
  overflow-y: auto;
  height:85vh;

}

@media (max-width: 1100px) {
  .title{
    display: none;
  }
}
